html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: #222;
	width: 100%;
	height: 100%;
}
/*
canvas { 
	position : absolute;
    margin-left : -400px;
    margin-top : -300px;
    top : 50%;
    left : 50%;
    display : block;
}

canvas {
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}
*/

#fullScreen {
	position:absolute;
	z-index: 1;
	width: 40px;
	height: 40px;
	background: rgba(50,50,50, .8);
	top: 20px;
	right: 20px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	color: white;
}
canvas {
    display: block;
    width: 100%;
    height: 100%;
}

#stage {
	position: absolute;
	background: #111111;
}
#stage div{
	position: absolute;
}
#player {
	text-align:center;
	position: absolute;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 20px 40px 20px;
	border-color: transparent transparent #ffffff transparent;
}